pyobjc-core>=11.1,<12.0; python_version < "3.10"
pyobjc-framework-Cocoa>=11.1,<12.0; python_version < "3.10"
pyobjc-framework-AVFoundation>=11.1,<12.0; python_version < "3.10"
pyobjc-framework-AVKit>=11.1,<12.0; python_version < "3.10"
pyobjc-framework-Quartz>=11.1,<12.0; python_version < "3.10"

pyobjc-core>=12.1; python_version >= "3.10"
pyobjc-framework-Cocoa>=12.1; python_version >= "3.10"
pyobjc-framework-AVFoundation>=12.1; python_version >= "3.10"
pyobjc-framework-AVKit>=12.1; python_version >= "3.10"
pyobjc-framework-Quartz>=12.1; python_version >= "3.10"
